<div id="landing">
  <div class="Message">Manage your GitHub project better</div>
  <div class="login-link-container">
    <%= link_to "Login", user_omniauth_authorize_path(provider: :github), class: "login-link" %>
  </div>
</div>
