<div id="landing">
  <div class="message">Manage Your GitHub Project Better</div>
  <div class="login-link-container">
    <%= link_to "Login", user_omniauth_authorize_path(provider: :github), class: "login-link" %>
  </div>
</div>
