<div id="user-repositories">
  <div class="repositories-list managed">
    <div class="title">Managed</div>
    <%= render partial: 'repos', locals: { repos: @managed } %>
  </div>
  <div class="repositories-list managed">
    <div class="title">Unmanaged</div>
    <%= render partial: 'repos', locals: { repos: @unmanaged } %>
  </div>
</div>
