@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "compass/css3/text-shadow";
@import "compass/css3/images";

#landing {
  margin: 8px 0;
  width: 100%;
  background: #999 url(background.jpg) 0 0 repeat;
  height: 500px;
  position: relative;
  .product-name, .product-tagline, .product-description {
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .product-name {
    color: #A8B7FC;
    @include text-shadow(1px 2px 2px #7A85B9);
    font-size: 6em;
    top: 80px;
  }

  .product-tagline {
    color: white;
    font-size: 3em;
    top: 200px;
  }

  .product-description {
    color: #AEC7EC;
    top:250px;
    font-size: 2em;
  }
  
  .login-link-container {
    position: absolute;
    top: 340px;
    width: 100%;
    text-align: center;
  }

  .login-link {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    @include text-shadow(0 1px 0 rgba(255,255,255,0.9));
    @include background-image(linear-gradient(top, #89DC6C, #62B246));
    @include border-radius(10px);
    cursor: pointer;
    text-decoration: none;
  }
}