@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "compass/css3/text-shadow";
@import "compass/css3/images";

body {
  font: 14px Helvetica, arial, freesans, clean, sans-serif;
  @include box-sizing(border-box);
}

.container {
  width: 90%;
  margin: 0 auto;
}

#internal-body, #landing-body {
  header {
    margin: 10px 0 0;
    .header-logo {
      float: left;
    }

    .user-avatar, .current-project, .login-link-container {
      float: right;
    }

    .user-avatar img {
      width: 30px;
      @include border-radius(4px);
    }

    .current-project {
      font-size: 1.5em;
      color: #4183C4;
      font-weight: bold;
      margin: 0.15em 10px 0;
    }

    .login-link {
      position: relative;
      display: inline-block;
      padding: 5px 15px;
      font-weight: bold;
      color: #333;
      @include text-shadow(0 1px 0 rgba(255,255,255,0.9));
      @include background-image(linear-gradient(top, #fafafa, #eaeaea));
      @include border-radius(5px);
      border: 1px solid #ddd;
      cursor: pointer;
      text-decoration: none;
    }

    @include clearfix;
  }
}

#landing-body {
  .right-pane {
    font-size: 2em;
    color: #7B91D3;
    margin: 0 10px;
    float: right;
    font-weight: bold;
    @include text-shadow(0 1px 0 rgba(10,10,10,0.5));
  }
}
